$r: 0.81; //比例
.w {
    width: 1490px*$r;
    margin: 0 auto;
}

.sty_red {
    color: red;
}

@mixin hover {
    &:hover {
        color: red;
    }
}


/* 快捷导航模块 */

nav {
    .top {
        img {
            width: 100%;
        }
    }
    .nav {
        height: 30px;
        line-height: 30px;
        background: #e3e4e5;
        margin-top: -3px;
    }
    .nav_left {
        float: left;
    }
    .nav_right {
        float: right;
    }
    ul {
        li {
            float: left;
        }
        li:nth-child(even) {
            width: 1px;
            height: 12px;
            background-color: #999;
            margin: 9px 15px 0;
        }
        a {
            color: #999999;
            @include hover();
        }
    }
}


/* 头部搜索模块 */

header {
    .logo {
        float: left;
        width: 238px*$r;
        height: 175px*$r;
        img {
            width: 190px*$r;
            height: 120px*$r;
            margin-top: 31px*$r;
            margin-left: 15px*$r;
        }
    }
    .centre-h {
        float: left;
        width: 1012px*$r;
        height: 175px*$r;
        .search {
            width: 875px*$r;
            height: 70px*$r;
            margin-top: 32px*$r;
            margin-left: 88px*$r;
            .search-t {
                .search-m {
                    float: left;
                    input {
                        width: 605px*$r;
                        height: 45px*$r;
                        border: 3px*$r solid red;
                        &::placeholder {
                            padding-left: 22px*$r;
                            color: #9d9d9d;
                        }
                    }
                    button {
                        width: 73px*$r;
                        height: 45px*$r;
                        background: red;
                        border: 0;
                        margin-left: -4px;
                    }
                }
                .shopcar {
                    float: left;
                    width: 165px*$r;
                    height: 45px*$r;
                    line-height: 45px*$r;
                    text-align: center;
                    border: 1px solid #eee;
                    color: red;
                    margin-left: 23px*$r;
                }
                .search-b {
                    float: left;
                    margin-top: 11px*$r;
                    margin-right: 13px*$r;
                    a {
                        color: #9d9d9d;
                        margin-right: 12px*$r;
                        @include hover();
                    }
                    .sty_red {
                        color: red;
                    }
                }
            }
        }
        .navitems {
            height: 50px*$r;
            margin-top: 24px*$r;
            line-height: 50px*$r;
            ul {
                height: 20px*$r;
                margin: 15px*$r 0px;
                .hot {
                    a {
                        color: red;
                        font-weight: bold;
                    }
                }
                li {
                    float: left;
                    margin-left: 30px*$r;
                    a {
                        font-size: 18px*$r;
                        @include hover();
                    }
                }
            }
        }
    }
    .right-h {
        img {
            width: 240px*$r;
            height: 175px*$r;
        }
        float: left;
    }
}

.fs {
    background-color: #f4f4f4;
    height: 639px*$r;
    border-top: 1px solid #dddddd;
    padding-top: 12px*$r;
    padding-bottom: 37px*$r;
    .main {
        height: 100%;
        .fs-col1 {
            float: left;
            width: 224px*$r;
            height: 100%;
            background-color: #fefefe;
        }
        .fs-col2 {
            float: left;
            width: 1000px*$r;
            height: 588px*$r;
            margin: 0 13px*$r;
            //轮播图
            .focus-slider {
                float: left;
                height: 100%;
                width: 737px*$r;
                position: relative;
                overflow: hidden;
                margin-right: 13px*$r;
                #sliderList {
                    position: absolute;
                    li {
                        float: left;
                        img {
                            width: 737px*$r;
                            height: 588px*$r;
                        }
                    }
                }
                #focus-btns {
                    span {
                        &:first-child {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            font-size: 30px;
                            text-align: center;
                            line-height: 30px;
                            top: 50%;
                            margin-top: -15px;
                            cursor: pointer;
                            background-color: black;
                            opacity: .3;
                            font-weight: bold;
                            color: white;
                        }
                        &:last-child {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            font-size: 30px;
                            text-align: center;
                            line-height: 30px;
                            top: 50%;
                            right: 0;
                            margin-top: -15px;
                            cursor: pointer;
                            background-color: black;
                            opacity: .3;
                            font-weight: bold;
                            color: white;
                        }
                    }
                }
                #numList {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    li {
                        float: left;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        margin: 0 10px;
                        cursor: pointer;
                        background-color: white;
                        color: red;
                        &:hover,
                        &.hover {
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
            .focus-item {
                width: 250px*$r;
                height: 100%;
                float: left;
                div {
                    img {
                        width: 100%;
                        height: 188px*$r;
                        margin-bottom: 11px*$r;
                    }
                }
            }
        }
        .fs-col3 {
            float: left;
            width: 237px*$r;
            height: 100%;
            background-color: #fefefe;
        }
    }
}